mixin destination-1(obj)
	a.destination-1.context-dark(href=obj.link ? obj.link : 'categories.html')&attributes(attributes)
		figure.destination-1-figure
			.destination-1-image.bg-image(style='background-image: url(images/' + obj.img + '.jpg);')
		.destination-1-caption
			p.heading-4.destination-1-title=obj.title
