footer.section.footer-modern.context-dark
	.footer-modern-main
		.container: .row.row-30.justify-content-lg-between
			.col-sm-5.col-md-3.col-lg-3
				p.footer-modern-title Useful Links
				.footer-modern-item-block
					ul.list.list-1
						li: a(href='about.html') About
						li: a(href='blog.html') News
						li: a(href='our-team.html') Team
						li: a(href='#') Flixena App

			.col-sm-7.col-md-5.col-lg-4
				p.footer-modern-title Categories
				.footer-modern-item-block(style='max-width: 300px;')
					.row.row-13
						.col-6
							ul.list.list-1
								li: a(href='categories.html') Movies
								li: a(href='categories.html') TV Shows
								li: a(href='categories.html') Comedy
								li: a(href='categories.html') Sci-Fi
						.col-6
							ul.list.list-1
								li: a(href='categories.html') Cartoons
								li: a(href='categories.html') Horror
								li: a(href='categories.html') Other
								
			.col-md-4.col-lg-3
				p.footer-modern-title Get in Touch
				.footer-modern-item-block
					ul.list.list-1
						li: a(href='contact-us.html') Contact Us
						li: a(href='#') Customer Support
						li: a(href='#') FAQ


	.footer-modern-aside
		.container
			.footer-modern-aside-layout
				+logo
				+rights
				div: .group.group-sm
					a.link-1.icon.mdi.mdi-instagram(href='#')
					a.link-1.icon.mdi.mdi-facebook(href='#')
					a.link-1.icon.mdi.mdi-youtube-play(href='#')
