//Trending TV Shows
section.section.section-lg.bg-default
  .container
    .text-center.wow.fadeIn(data-wow-delay='300')
      h2 New releases
      p Check out the highly rated TV shows, available at Flixena.
    .owl-carousel.owl-theme-1.wow.fadeIn( data-items='1', data-sm-items='2', data-md-items='3', data-lg-items='3', data-xl-items='3', data-xxl-items='3', data-margin='15px', data-xxl-margin='40px', data-nav='true', data-dots='false', data-autoplay='true', data-wow-delay='450' )
      .item
        +box-nina({
          img: 'index-img-07-356x412',
          title: 'Wild',
          subtitle: '2021, Drama'
        })
      .item
        +box-nina({
          img: 'index-img-08-356x412',
          title: 'Stranger Things',
          subtitle: '2021, Drama'
        })
      .item
        +box-nina({
          img: 'index-img-09-356x412',
          title: 'Extraction',
          subtitle: '2021, Action'
        })
      .item
        +box-nina({
          img: 'index-img-10-356x412',
          title: 'Triple Frontier',
          subtitle: '2021, Adventures'
        })
      .item
        +box-nina({
          img: 'index-img-11-356x412',
          title: 'A Million Ways',
          subtitle: '2021, Comedy'
        })