section.section.section-lg.bg-gray-900.context-dark.text-center.text-sm-start
	.container
		ul.list-group-1.row.row-50
			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-pictures
					.lg-1-item-main
						h5.lg-1-item-title
							span.lg-1-item-counter
							| Movie Photos
						p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-eye
					.lg-1-item-main
						h5.lg-1-item-title
							span.lg-1-item-counter
							| Detailed Reviews
						p Lura, capio, et diatria. Mori recte ducunt ad alter plasmator. Experimentum sapienter ducunt ad audax.

			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-3d-glasses
					.lg-1-item-main
						h5.lg-1-item-title
							span.lg-1-item-counter
							| Diverse Approach
						p Indexs ortum! Classiss sunt solitudos de altus adgium. Castus, regius triticums superbe anhelare.

			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-camera-play
					.lg-1-item-main
						h5.lg-1-item-title
							span.lg-1-item-counter
							| Fresh Trailers
						p Cur nixus mori? Pol. Sunt hippotoxotaes convertam festus, brevis buboes. Brevis terror nunquam amors.
